.sale {
    display: flex;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    padding: 68px 0;
    width: 85%;
    margin: auto;
}

.sale>div {
    padding: 54px;
    width: 548px;
}

.sale>div>div {
    padding: 22px;
}

.sale img {
    height: 172px;
    width: 172px;
}

.sale>div {
    width: 548px;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sale>div:nth-child(1) {
    background: #CCCEA7;
}

.sale>div:nth-child(2) {
    background: #D6BEBE;
}

.titleSM {
    font-size: 36px;
    text-align: center;
}

.titleXL {
    font-size: 84px;
    text-align: center;
}

.button {
    font-weight: 500;
    text-transform: uppercase;

    color: #FFFFFF;
    border: 1px solid #FFFFFF;

    padding: 14px 36px;
}

@media (max-width: 600px) {
    .sale>div {
        width: 100%;
    }

    .sale {
        flex-direction: column;
    }
}







/* benefits */


.benefits {
    background: #F5F4F2;
    position: relative;
    margin: 68px 0;
    box-sizing: border-box;
    height: 212px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefits .container {
    width: 100%;
}

.items {
    margin: auto;
    max-width: 1120px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.line {
    width: 0px;
    height: 112px;
    border: 1px solid #FFC7D1;
}

@media (max-width: 600px) {
    .benefits .items {
        width: 100%;
    }

    .benefits {
        padding: 40px 0;
    }
}

.benefits .circle1,
.benefits .circle2 {
    width: 212px;
    height: 212px;
    background: #770015;
    border-radius: 100%;
    position: absolute;
}

.benefits .circle1 {
    top: 106px;
    left: -106px;
}

.benefits .circle2 {
    right: -106px;
    top: -106px;
}

@media (max-width: 800px) {

    /* .benefits .circle1,
    .benefits .circle2 {
        display: none;
    } */
}


/* subcribe */

.subscribe {
    padding: 68px 0;
    font-family: 'Playfair Display', serif;
}

.subscribe .container {
    max-width: 1120px;
    height: 312px;
    background: linear-gradient(97.3deg, #AB001E -6.23%, #770015 105.09%);
    position: relative;
}

.subscribe .circle1 {
    position: absolute;
    left: 0;
}

.subscribe .circle2 {
    position: absolute;
    right: 0;

}

@media (max-width: 800px) {
    .subscribe .container {
        width: 100%;
    }
}