.services {
    margin: 68px 0;
    overflow-x: clip;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #F5F4F2;
    position: relative;
}

.line {
    width: 0px;
    height: 112px;
    border: 1px solid #FFC7D1;
}

.item {
    margin: 40px 77px
}

.circle1,
.circle2 {
    width: 212px;
    height: 212px;
    background: #770015;
    border-radius: 100%;
    position: absolute;
}

.circle1 {
    left: -106px;
    top: -106px
}

.circle2 {
    right: -106px;
    bottom: -106px;
}

@media (max-width: 600px) {
    .line {
        display: none;
    }

    .circle1,
    .circle2 {
        width: 112px;
        height: 112px;
        background: #770015;
        border-radius: 100%;
        position: absolute;
    }

    .circle1 {
        left: -56px;
        top: -56px
    }
    
    .circle2 {
        right: -56px;
        bottom: -56px;
    }
}