.category {
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 170px;
    cursor: pointer;
}

.category img {
    height: 170px;
    width: 170px;
    object-fit: cover;
    transition: transform 0.5s ease;


}

.category .title {
    text-align: center;
    padding: 20px;
}


.category img:hover {
    transform: scale(1.2);
}




/* lazy */

.imageLazy {
    height: 170px;
    width: 170px;
    border-radius: 100%;
    opacity: 0.5;
    margin-bottom: 10px;
    animation: imageLoading 1s linear infinite alternate;
}

@keyframes imageLoading {
    0% {
        background-color: gray;
    }

    100% {
        background-color: whitesmoke;
    }
}

.titleLazy {
    width: 170px;
    height: 5px;
    margin: 5px 0;
    border-radius: 10px;
    opacity: 0.5;
    animation: titleLoading 1s linear infinite alternate;
}

.titleLazy:nth-last-child(1) {
    width: 75%;
    margin-right: auto;
}

@keyframes titleLoading {
    0% {
        background-color: gray;
    }

    100% {
        background-color: whitesmoke;
    }
}