.sale {
    display: flex;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    justify-content: center;
    margin: 68px 0;
}

.item {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 54px 110px;
    margin: 10px;
}

.item div {
    margin-bottom: 11px;
}

.sale>div:nth-child(1) {
    background: #CCCEA7;
}

.sale>div:nth-child(2) {
    background: #D6BEBE;
}


.titleSM {
    font-size: 36px;
    text-align: center;
}

.titleXL {
    font-size: 84px;
    text-align: center;
}

.button {
    font-weight: 500;
    text-transform: uppercase;

    color: #FFFFFF;
    border: 1px solid #FFFFFF;

    padding: 14px 36px;
}

@media (max-width: 850px) {
    .item {
        padding: 27px 55px;
    }
}

@media (max-width: 650px) {
    .sale {
        flex-direction: column;
    }
    .titleSM {
        font-size: 18px;
    }
    
    .titleXL {
        font-size: 42px;
        text-align: center;
    }
}