.button {
    width: 170px;
    height: 48px;
    background: #770015;

    text-transform: uppercase;

    color: #FFFFFF;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.button span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.button:hover {
    transform: scale(1.2);
}