.card {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 264px;
    margin: 5px;
    margin-bottom: 48px;
    position: relative;
    cursor: pointer;
}

.card div {
    margin: 5px 0;
}

.card img {
    object-fit: cover;
    width: 264px;
    height: 412px;
}

.card .title {
    max-width: 150px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;

}

.card .size {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card .size div {
    width: 36px;
    height: 36px;
    border: 1px solid #E6E6E6;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.card .price {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.price span {
    margin: 2px;
}

.priceSlashed {
    font-size: 10px;
    font-weight: 400;
    text-decoration-line: line-through;
    color: #FF0000;
}

.cardOverlay {
    opacity: 0;
    position: absolute;
    width: 264px;
    height: 412px;
    background: rgba(31, 31, 31, 0.3);
    backdrop-filter: blur(5px);
    transition: opacity 0.3s ease;
}


.card:hover  .cardOverlay {
    opacity: 1;
}