.card {
    width: 360px;
    height: 432px;
    margin: 5px;
    position: relative;
}

.card img {
    object-fit: cover;
    width: 360px;
    height: 432px;
}

.titleDiv {
    width: 100%;
    height: 68px;
    background: linear-gradient(111.49deg, rgba(255, 255, 255, 0.4) -8.95%, rgba(255, 255, 255, 0.01) 114%);
    backdrop-filter: blur(32px);
    position: absolute;
    bottom: 0;

    font-family: 'Playfair Display';
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: center;
}